@font-face {
  font-family: googlefonts;
  src: url("../../assets/GoogleSans-Regular.ttf");
}

.iconlist {
  display: flex;

  .close {
    position: relative;
    left: 180px;
    opacity: 0.81;
  }

  .iconsdis {
    width: 42px;
  }

}

.displaycolor {
  margin-top: 2px;
  display: flex;
  flex-flow: row wrap;
}

.md-fab.md-dense,
.md-fab.md-mini {
  width: 26px !important;
  height: 23px !important;
}

.md-list-item-content {
  div {
    font-family: "googlefonts", arial, sans-serif;
    cursor: pointer !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    letter-spacing: 0.01428571em !important;
    line-height: 1.25rem !important;
    min-height: 34px !important;
    width: 100%;
  }
}

.labelmenu {
  .md-button .md-ripple {
    display: flex;
    justify-content: left !important;
    align-items: center;
    font-family: "googlefonts", arial, sans-serif;

  }

  .md-button {
    width: 100% !important;
    font-family: "googlefonts", arial, sans-serif;

  }


}

.labelnote {
  cursor: default;
  font-size: 14px;
  padding: 0 12px;
  font-family: "googlefonts", arial, sans-serif;

}

.md-menu-item {
  font-family: "googlefonts", arial, sans-serif;
}

.inputlabel {
  border: none;
  padding: 8px 12px;
}

.createSerachlabel {
  border-top: 1px solid #dadce0;
  padding: 5px 10px 3px;
  display: flex;
  cursor: pointer;

}

.fun {
  display: inline-block;
  height: 18px;
  opacity: .54;
  width: 18px
}