.pinned {
  font-size: 12px;
  color: #5f6368;
  position: relative;
  left: 180px;
  margin-top: 1%;

}
.others {
  position: relative;
  left: 180px;
  font-size: 12px;
  color: #5f6368;
  margin-top: 1%;
}
